/* relevant styles from style.css */

.showcase {
    overflow: hidden;
    padding-bottom: max(6.125rem,min(1.94175vw + 5.6699rem,8rem));
    padding-top: max(6.125rem,min(1.94175vw + 5.6699rem,8rem));
    position: relative
  }
  
  .showcase .container {
    position: relative;
    z-index: 2
  }
  
  .showcase .heading-m {
    font-size: max(4rem,min(1.16505vw + 3.72694rem,5.125rem))
  }
  
  .showcase__wrap {
    align-items: center;
    cursor: grab;
    display: flex;
    flex-direction: column;
    margin-left: -100%;
    margin-right: -100%;
    margin-top: -.9375rem;
    width: 300%
}

@media only screen and (min-width: 48rem) {
    .showcase__wrap {
        margin-left:-50%;
        margin-right: -50%;
        width: 200%
    }
}

.showcase__items {
    align-items: center;
    display: flex;
    overflow: hidden;
    pointer-events: none;
    position: relative;
    width: 100%
}

.showcase__item {
    color: var(--color-surface-white);
    flex-shrink: 0;
    position: relative;
    width: 33.33%
}

.showcase__item .showcase__image {
    border-radius: .5rem;
    height: 0;
    opacity: .7;
    overflow: hidden;
    padding-bottom: 60%;
    position: relative;
    transform: scale(.975);
    transform-origin: 50% 0;
    /* transition: opacity .7s var(--ease-out),transform .7s var(--ease-out) */
}