@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

* {
    background-color: rgb(204, 239, 239);
    font-family: 'Rubik', sans-serif;
}

.animated-image {
  position: absolute;
  top: calc(50vh - 45vmin);
  left: calc(50vw - 45vmin);
  /* right: 25%; */
  /* transform: translate(-50%, -50%); */
  width: 90vmin; /* Adjust size as needed */
  height: 90vmin; /* Adjust size as needed */
  /* transition: all 1s ease;  */
  /* Smooth transition */
  border-radius: 50%; /* To make it circular */
}

@keyframes image-animation {
    from {
        position: absolute;
        /* top: 50%;
        left: 50%; */
        /* transform: translate(-50%, -50%); */
        width: 90vmin; /* Adjust size as needed */
        height: 90vmin; /* Adjust size as needed */
        border-radius: 50%; /* To make it circular */
    }
    to {
        position: absolute;
        top: 2%;
        left: 2%;
        width: 9vmin; /* Adjust size as needed */
        height: 9vmin; /* Adjust size as needed */
        border-radius: 50%; /* To make it circular */
    }
}

.animatze {
  animation: image-animation 2s ease-in-out forwards; /* Apply animation */
}

.main_title{
  display: flex;
  flex-direction: column;
  /* width: 70%;
  margin: auto; */
  /* align-items: center; */
}

.stylehead {
    text-align: center;
    font-size: min(6vw, 75px);
    font-family: 'Rubik', sans-serif;
    margin: auto;
}

.stylehead span {
    color: rgb(70, 116, 232);
    /* color: rgb(243, 18, 6); */
}

.onestop{
    color: rgb(70, 116, 232);
}

.changing-text {
    position: absolute;
    border-right:2px solid black; 
    opacity: 0;
    transition: opacity 1s;
    animation:blink .8s infinite;
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }

#output {
    position: relative;
    font-size: min(2vw, 25px);
    margin: auto;
    left: 4vw;
    width: 45%;
    text-transform: capitalize;
  }

/* Slide-Show */
 :root {
  --shadow: rgba(0, 0, 0, 0.8)
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
} 

.slider-container {
  height: 100vh;
  display: inline-flex;
  overflow: hidden;
  /* overflow-x: hidden; */
  scrollbar-width: none;
  transform: translateX(0);
  will-change: transform;
  transition: transform 0.3s ease-out;
  cursor: grab;
}

.slide{
  max-height: 100vmin;
  width: 100vw;
  display: flex;
  /* align-items:start; */
  justify-content: center;
  padding: 1rem;
  
}

@media(min-width: 1200px){
  .slide {
    padding: 3rem;
  }
}

.slide img{
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  transition: transform 0.3s ease-in-out;
  /* box-shadow: 5px 5px 50px -1px var(--shadow); */
  border-radius: 4px;
  user-select: none;
  object-fit: contain;
}

.grabbing {
  cursor: grabbing;
}

.grabbing .slide img{
  transform: scale(0.9);
  box-shadow: 5px 5px 40px -1px var(--shadow);
}
/* Slide-Show ends here */
