@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

* {
    background-color: rgb(204, 239, 239);
    font-family: 'Rubik', sans-serif;
}

.animated-image {
  position: absolute;
  top: calc(50vh - 45vmin);
  left: calc(50vw - 45vmin);
  /* right: 25%; */
  /* transform: translate(-50%, -50%); */
  width: 90vmin; /* Adjust size as needed */
  height: 90vmin; /* Adjust size as needed */
  /* transition: all 1s ease;  */
  /* Smooth transition */
  border-radius: 50%; /* To make it circular */
}

@keyframes image-animation {
    from {
        position: absolute;
        /* top: 50%;
        left: 50%; */
        /* transform: translate(-50%, -50%); */
        width: 90vmin; /* Adjust size as needed */
        height: 90vmin; /* Adjust size as needed */
        border-radius: 50%; /* To make it circular */
    }
    to {
        position: absolute;
        top: 2%;
        left: 2%;
        width: 9vmin; /* Adjust size as needed */
        height: 9vmin; /* Adjust size as needed */
        border-radius: 50%; /* To make it circular */
    }
}

.animatze {
  animation: image-animation 2s ease-in-out forwards; /* Apply animation */
}

.stylehead {
    text-align: center;
    font-size: min(6vw, 75px);
    font-family: 'Rubik', sans-serif;
    margin: auto;
}

.stylehead span {
    color: rgb(70, 116, 232);
    /* color: rgb(243, 18, 6); */
}

.onestop{
    color: rgb(70, 116, 232);
}

.changing-text {
    position: absolute;
    border-right:2px solid black; 
    opacity: 0;
    transition: opacity 1s;
    animation:blink .8s infinite;
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }

   #output {
    /* position: relative; */
    font-size: min(2vw, 25px);
    margin: auto;
    width: 30%;
    text-transform: capitalize;
    /* text-align: center; */
    /* justify-content: center; */
  }



